body {
    background-color: #f5f5f5;
}

.linus {
    background-size: 100%;
    background-image: url(/asset/img/me2.jpg);
    height: 250px;
}

p {
    font-size: 1.05rem;
    padding-top: 0.3rem;
    padding-bottom: 0.2rem;
}

ul { 
   list-style-type: disc; 
   list-style-position: outside; 
   margin-left: 1.7rem;
}

ul li {
    list-style-type: inherit;
    margin-left: 0.2rem;
}

ul ul { 
   list-style-type: circle; 
   list-style-position: outside; 
}

.divider-new, .text-fluid, h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    padding-top: 1rem;
}

.card-block p {
    padding: 0;
}

pre {
    font-size: 0.8rem;
    background-color: #efefef;
    padding: 0.5rem 0.7rem;
}

.post {
    padding: 0 2rem 0 2rem;
}

.summary .card {
    border: 0;
    width: 545px;
    float: left;
    margin-right: 10px;
    margin-left: 10px; 
    height: 250px;   
}

.summary .card:nth-child(even) { 
  margin-right: 0px;
}

.summary .card:nth-child(odd) { 
  margin-left: 0px;
}

.margin-top {
  margin-top: 15px;
}

.read-text {
  position: absolute;
  top: 200px;
  left: 475px;
}

.summary .card h3 {
  margin-top: 0px;
  margin-bottom: 3px;
  padding-top: 0px;
}

.half-width-image img {
  margin-bottom: 4px;
  border: 1px solid #eee;
}

.half-width-image {
  width: 500px; 
  margin: 0px 20px 5px 20px
}

.half-width-image:nth-child(even) { 
  margin-right: 0px;
}

.half-width-image:nth-child(odd) { 
  margin-left: 0px;
}
