---
title: About Me
description: Blog posts about anything from building journey planners to functional programming, infrastructure and Agile.
layout: default
fullfooter: true
---

<div class="container-wide">
    {% include header.html %}

    <main>
        {% include hero-sub.html %}

        <section id="overview" class="overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 offset-lg-4">
                        <p>
                            I'm a software engineer that specializes in journey planning algorithms, domain driven design and highly available services.
                        </p>
                        <p>
                            I do most of my work with node.js (TypeScript) and a bit of Java but I also work with React and Angular on the front end. I enjoy mentoring and often talk or <a href="/blog">blog</a> about functional programming, infrastructure or Agile. Occasionally I speak at conferences - I have spoken at the inaugural London TypeScript meet up, HackTrain Conference and the London PHP Conference.
                        </p>
                        <p>
                            I'm an advocate of Agile development and usually set my teams up with Scrum or Kanban depending on the situation. My real passion is working with a great people deliver challenging products. I love reading, particularly about programming, learning, leadership and motivation.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section id="features" class="features bg-primary curve-flip">
            <img class="features-img features-img-1" src="assets/img/features1.png" alt="Integrated multi-modal transport" />
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 offset-lg-1 features-1">
                        <h2 class="rev underline underline-secondary">Planar Network (Founder)</h2>
                        <p class="rev">
                            I founded <a href="https://planar.network/">Planar Network</a>, to bring blockchain technology to public transport. As part of my work on Planar Network, I developed a best in class journey planner for UK rail and created a whole set of <a href="https://www.github.com/planar-network">open source tools to process public transit data</a>.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-13 features-2">
                        <h2 class="rev underline underline-secondary">Assertis (CTO)</h2>

                        <p class="rev">
                            Prior to Planar Network, I was CTO at <a href="https://www.assertis.co.uk">Assertis</a> where I led a merry band of men (and women) in a quest to make rail travel and tickets a more bearable experience. My areas of expertise are software architecture, software development, microservices, continuous integration, Agile (mostly Scrum), TDD and leadership.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-10 offset-lg-1 features-3">
                        <h2 class="rev underline underline-secondary">On Track Retail (CTO)</h2>

                        <p class="rev">At OnTrack Retail I create a brand new team to deliver a greenfield project as part of a joint venture with Go-Ahead Group. I grew the team from 0 to 20 developers and successfully delivered the project on time and under budget.</p>
                    </div>
                </div>

            </div>
            <img class="features-img features-img-2" src="assets/img/features2.png" alt="Fast distributed financial settlement" />
        </section>
        <section class="overview">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 offset-lg-4">
                        <h2 class="center underline underline-tertiary">Other roles</h2>
                        <p class="center">
                            Prior that I held various positions as a developer or lead developer at the <a href="https://www.bbc.co.uk/">BBC</a>, <a href="https://www.bravenewtalent.com">BraveNewTalent</a> and other clients. My CV is available <a href="mailto:linusnorton@gmail.com">upon request</a>.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    {% include footer-sub.html %}
</div>

    