<div class="footer-links-container">
    <div class="footer-logo-container">
        <div class="container">
            <div class="row">
                <div class="col-md-24">
<!--                    <a class="logo-footer logo" href="/" title="Linus Norton">-->
<!--                        <span class="sr-only">ljn.io</span>-->
<!--                    </a>-->
                    <h2 class="center underline underline-tertiary">Other places you may find me</h2>

                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-5 offset-lg-9">
               <ul class="list-unstyled footer-link-list">
                    <li>
                        <a href="https://www.github.com/linusnorton" target="blank"><span class="social-ico-plus">z</span>GitHub</a>
                    </li>
                    <li>
                        <a href="https://www.twitter.com/linusnorton" target="blank"><span class="social-ico">t</span>Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-12 col-lg-5 col-lg-5">
                <ul class="list-unstyled footer-link-list">
                    <li>
                        <a href="https://www.linkedin.com/in/linusnorton/"><span class="social-ico">i</span>LinkedIn</a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/users/377945/linus-norton"><span class="social-ico-plus">s</span>Stack Overflow</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>