.logo {
    background: transparent url($logo) no-repeat left center;
    display: inline-block;
    transition: all 0.3s;
    max-width: 100%;

    &:hover {
        opacity: 0.8;
    }

    &-footer {
        background-image: url($logo-rev-mini);
    }

    span {
        display: inline-block;
        font-family: $font-header;
        line-height: 1.2;
        color: $color-primary;
        font-weight: normal;

        font-size: 28px;

        @media ($screen-tablet) {
            font-size: 40px;
        }

        &.rev {
            color: $color-white;
        }
    }

}